body {
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: black;
  color: white;
  margin: 0;
}

.board {
  border: 3px solid white;
  height: 399px;
  width: 399px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.scores {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.circleScore,
.crossScore {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 130px;
  border-radius: 10px;
  font-size: 19px;
}

.circleScore {
  color: white;
  background-color: red;
}

.crossScore {
  color: white;
  background-color: blue;
}

#X,
#O {
  margin-left: 5px;
}

.win {
  pointer-events: none;
}

.cell {
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 133px;
  width: 133px;
  border: 3px solid white;
}

.cell:hover {
  background-color: rgb(33, 30, 30);

}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  color: red;
  border: 10px solid red;
  /*box-shadow: 0 0 5px 9px rgb(148, 52, 52);*/
  /*transition: box-shadow 0.5 linear;*/
  animation-name: circle;
  animation-duration: 1.0s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;

}

.cross {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.cross::before,
.cross::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 100px;
  background-color: rgb(89, 169, 255);
  top: -55px;
  left: -5px;
  border-radius: 2px;
  /*box-shadow: 0 0 5px 9px lightskyblue;*/
  /*transition: box-shadow 2s linear;*/
  animation-name: cross;
  animation-duration: 1.0s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

.cross::before {
  transform: rotate(45deg);
  right: 2px;
}

.cross::after {
  transform: rotate(-45deg);
  right: 2px;
}

@keyframes circle {
  25% {
    box-shadow: 0 0 2px 4px rgb(167, 19, 19);
  }

  60% {
    box-shadow: 0 0 5px 10px rgb(167, 19, 19);
  }

  100% {
    box-shadow: 0 0 0 0;
  }
}

@keyframes cross {
  25% {
    box-shadow: 0 0 2px 4px rgb(6, 67, 222);
  }

  60% {
    box-shadow: 0 0 5px 10px rgb(6, 67, 222);
  }

  100% {
    box-shadow: 0 0 0 0;
  }
}

h1 {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

button {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  height: 50px;
  width: 120px;
  border-radius: 7px;
}

button:active {
  scale: 0.95;
}

.info {
  margin-top: 20px;
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 42px;
  z-index: 10;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  height: 250px;
  width: 300px;
  background: linear-gradient(to bottom, red, blue);
  border-radius: 20px;
  animation-name: popOpen;
  animation-duration: 1s;
}

.showLegend {
  border: 8px solid rgb(255, 183, 0);
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: black;
  z-index: 11;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  height: 650px;
  width: 410px;
  padding: 0 50px;
  background: whitesmoke;
  border-radius: 30px;
  animation-name: openLegend;
  animation-duration: 1s;
}

.showLegend p {
  color: black;
  text-align: justify;
  margin: 0;
  font-size: 15px;
  font-family: cursive;
  font-style: oblique;
}

.hidden {
  display: none;
}

@keyframes popOpen {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}

@keyframes openLegend {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes closeLegend {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}



.infoAndLanguages {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.infoAndLanguages i {
  cursor: pointer;
  color: white;
  font-size: 25px;
  margin-right: 10px;
}

.infoAndLanguages i:active {
  scale: 0.95;
}

.infoAndLanguages img {
  margin-top: 3px;
  cursor: pointer;
  border-radius: 10px;
  height: 24px;
  width: 24px;
}

.infoAndLanguages img:active {
  scale: 0.95;
}

.popup #closePopup {
  cursor: pointer;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 15px;
  width: 15px;
  font-size: 19px;
  font-weight: bold;
}

.showLegend #closeInfo {
  cursor: pointer;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 25px;
  width: 25px;
  font-size: 24px;
  font-weight: bold;

}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .board {
    height: 300px;
    width: 300px;
  }

  .cell {
    height: 100px;
    width: 100px;
  }

  .circle {
    height: 70px;
    width: 70px;
    border: 8px solid red;
  }

  .cross::before,
  .cross::after {
    top: -40px;
    width: 8px;
    height: 80px;
  }

  button {
    height: 40px;
    width: 90px;
    font-size: 14px;
  }

  .scores {
    width: 100%;
  }

  .circleScore,
  .crossScore {
    font-size: 16px;
    height: 40px;
    width: 100px;
  }

  .info {
    font-size: 20px;
  }

  .showLegend {
    height: 600px;
    width: 310px;
    padding: 0 20px;
  }

  .showLegend p {
    font-size: 12px;
    font-family: cursive;
    font-style: oblique;
  }

  .popup {
    height: 180px;
    width: 230px;
    font-size: 28px;
  }
}